@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

/**********Nav Bar Start ********/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.loginbtns{
  display: flex;
  gap: 20px;
}

#btn1{
  border: 1px solid #013C5E;
  color: #013C5E;
  border-radius: 8px;
}
#btn2{
  background-color: #0086CA;
  color: white;
  border-radius: 8px;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItem{
  margin-right: 20px;
  padding: 10px;
}

.navLink{
  font-size: 16px;
}

.navLink:hover{
  color: darkblue;
}

/**************Nav Bar End******************/

