@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;;
  background: #e4f1fe;
  font-size: large;
  height: 100%;
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

/****recruiter/dashboard start*******/
.parent{
  display: flex;
  gap: 100px;
  
}

.postbtn{
  margin-top: 20px;
  margin-right: 20px;
}

.dashbordNavigation{
  width: 70%;
  display: flex;
  margin: 10px auto;
  margin-left: 15%;
    
}

.mainDashboard{
  display: flex;
  flex-direction: column;
}

.logo-like{
  font-size: 3rem;
  color: #00bbf0;
  font-weight: bold;
  margin-left: 20px;
}

.navLink.active{ 
  background: #24527a;
  color: white;
}


/****recruiter/dashboard END*******/


/**********Nav Bar Start ********/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 20px;
  
}

.btngroup{
  display: flex;
  gap: 30px;
  margin-top: 20px;
  
 
}

#btn1{
  border: 1px solid #013C5E;
  color: #013C5E;
  border-radius: 8px;
}

#btn1:hover{
  color: white;
  background: #013C5E;
}

.btn2{
  background-color: #0086CA;
  color: white;
  border-radius: 8px;

}

.btn2:hover{
  color: #013C5E;
  background: white;
  border: 1px solid #013C5E;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItem{
  margin-right: 20px;
  padding: 10px;
}

.navLink{
  font-size: 16px;
}

.navItem:hover{ 
  color: #00204a;
  font-weight: bold;
}

.navItem:active{
  color: #013C5E;
}

/**************Nav Bar End******************/

/*****JOBS START*******/
.jobs-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  
}



.jobs-container h1{
  color:#00204a;
  font-weight: bold;
  
}

.jobs-container h2{
  font-weight: bold;
}



.skillsButtons{
  display: flex;
  gap: 10px;
}

.skillsButtons Button{
  background-color: #00204a;
  color: white;
  border-radius: 8px;
}

.skillsButtons Button:hover{
  color: #00204a;
  border: 1px solid #00204a;
}

.ellipsis{
  position: absolute;
  margin-top: 0;
  right: 500px;
}


/*****JOBS END*******/


/****BG iMAGE ***/
#bgImage{
  display: block;
  right: 0;
}


/***Home *****/
.homeContainers{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.homeContainers p{
  color:#0086CA;
  font-size: 1.5rem;
}

.homeContainers h1{
  color:#013C5E;
  font-size: 4rem;
  font-weight: bold;
}

.homeText{
  margin-left: 30px;
  margin-top: 90px;
  
}

/*****Recruiter Login START ****/
form{
  width: 50%;
  margin: 20px auto;
  
}

label{
  display: block;
  margin-top: 1px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1, p{
  text-align: center;
}

h1{
  color: #013C5E;
  font-size: 2rem;
  font-weight: bold;
}

#submit{
  color: white;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #013C5E;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#submit:hover{
  background-color: #0086CA;
}

/***Recruiter Login END*****/

/*****About START*****/

.textContainer p{
  text-align: left;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.textContainer{
    
  margin-left: 2%;
  margin-right: 2%;
  
}
/****About End********/