@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
  background: #e4f1fe;
  font-size: large;
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

/****recruiter/dashboard start*******/
.parent{
  display: flex;

}

.postbtn{
  margin-top: 20px;
  margin-right: 20px;
}

.dashbordContainer{
  width: 70%;
  display: flex;
  margin: 10px auto;
  margin-left: 15%;
  
  
}

.logo-like{
  font-size: 3rem;
  color: #00bbf0;
  font-weight: bold;

}


/****recruiter/dashboard END*******/


/**********Nav Bar Start ********/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 20px;
  
}

.btngroup{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

#btn1{
  border: 1px solid #013C5E;
  color: #013C5E;
  border-radius: 8px;
}

#btn1:hover{
  color: white;
  background: #013C5E;
}

.btn2{
  background-color: #0086CA;
  color: white;
  border-radius: 8px;

}

.btn2:hover{
  color: #013C5E;
  background: white;
  border: 1px solid #013C5E;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItem{
  margin-right: 20px;
  padding: 10px;
}

.navLink{
  font-size: 16px;
}

.navItem:hover{ 
  color: #00204a;
  font-weight: bold;
}

.navItem:active{
  color: #013C5E;
}


/**************Nav Bar End******************/

